@import '../styles/colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: $forest-green;
  color: $off-white;
}
